* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  outline-color: gold;
}

html * ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transaprent;
  border: none;
}

html * ::-webkit-scrollbar-thumb {
  background-color: transparent;
}

a, button {
  word-break: break-word;
}

*:after, *:before {
  box-sizing: border-box;
}

canvas {
  user-select: none;
  -webkit-user-select: none;
}

*:focus {
  outline-width: 0px;
}

*:focus:not(:active):not(:hover) {
  outline-width: 3px;
  outline-style: solid;
  outline-offset: -1px;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

input, textarea {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
  font-family: inherit;
}

button {
  font-family: inherit;
}

table {
  cellspacing: 0 !important;
  border-spacing: 0 !important;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.clear:after {
  content: "";
  clear: both;
  display: table;
}

.truncate_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content_transition {
  opacity: 0;
  transition: opacity .3s;
}

.content_transition[data-loaded="true"] {
  opacity: 1;
}

.checkbox_styles [data-component="checkbox_container"] {
  background: rgb(var(--grey_1, #F4F7FC));
}

.checkbox_styles[data-checked="true"] [data-component="checkbox_container"] {
  background: rgb(var(--grey_2, #F4F7FC));
}

[data-mode="dark"] {
  background-color: rgb(42, 49, 52, 1);
}

.custom_shadow {
  box-shadow: 0px 2px 15px rgba(var(--shadow-color, 42, 49, 52), 0.05);
}

/* shell styles */
.shell_wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

[data-mode="dark"] .shell_wrapper {
  background: rgba(45, 53, 56, 1);
}

.content_loader_color_shell_color_light {
  stop-color: rgba(216, 219, 222, 0.7);
  stop-opacity: .4;
}

.content_loader_color_shell_color {
  stop-color: rgba(216,219,222, 0.7);
  stop-opacity: .4;
}

.content_loader_background_color {
  background-color: rgba(244, 247, 252, 1);
}

.content_loader_block_color {
  background-color: rgba(255,255,255, 1);
}

.content_loader_block_border {
  border: 1px solid rgba(244, 247, 252, 1);
}

.content_loader_block_border_color {
  background-color: rgba(216,219,222, 0.7);
}

[data-mode="dark"] .content_loader_color_shell_color {
  stop-color: rgba(68,79,85, 0.7);
  stop-opacity: .4;
}

[data-mode="dark"] .content_loader_background_color {
  background-color: rgba(45, 53, 56);
}

[data-mode="dark"] .content_loader_block_color {
  background-color: rgba(23,27,28, 1);
}

[data-mode="dark"] .content_loader_block_border {
  border: 1px solid rgba(45, 53, 56, 1);
}

[data-mode="dark"] .content_loader_block_border_color {
  background-color: rgba(68,79,85, 1);
}
